DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
POSTGRES_DB = 
POSTGRES_HOST = "postgres"
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
PGADMIN_DEFAULT_EMAIL = 
PGADMIN_DEFAULT_PASSWORD = 

NEXT_PUBLIC_API_URL = "/api/tubes"
INTERNAL_API_URL = "http://tubes_api:7100/api_tubes"
NEXTAUTH_URL="http://192.168.0.47"
NEXTAUTH_SECRET = "very-secret-key"